@page "/character"

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th scope="col">Character</th>
            <th scope="col">Status</th>
            <th scope="col">Specie</th>
            <th scope="col">Type</th>
            <th scope="col">Origin</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="d-flex align-items-center">

                    <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg"
                         alt=""
                         style="width: 100px; height: 100px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Rick Sanchez</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Alive</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Human</p>
                <p class="fw-normal mb-1">Male</p>
            </td>
            <td>Unknown</td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (C-137)
                </a>
            </td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Citadel of Ricks
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="d-flex align-items-center">

                    <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg"
                         alt=""
                         style="width: 100px; height: 100px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Morty Smith</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Alive</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Human</p>
                <p class="fw-normal mb-1">Male</p>
            </td>
            <td>Unknown</td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Unknown
                </a>
            </td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Citadel of Ricks
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="d-flex align-items-center">

                    <img src="https://rickandmortyapi.com/api/character/avatar/3.jpeg"
                         alt=""
                         style="width: 100px; height: 100px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Summer Smith</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Alive</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Human</p>
                <p class="fw-normal mb-1">Female</p>
            </td>
            <td>Unknown</td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="d-flex align-items-center">

                    <img src="https://rickandmortyapi.com/api/character/avatar/4.jpeg"
                         alt=""
                         style="width: 100px; height: 100px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Beth Smith</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Alive</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Human</p>
                <p class="fw-normal mb-1">Female</p>
            </td>
            <td>Unknown</td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="d-flex align-items-center">

                    <img src="https://rickandmortyapi.com/api/character/avatar/5.jpeg"
                         alt=""
                         style="width: 100px; height: 100px"
                         class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">Jerry Smith</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">Alive</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Human</p>
                <p class="fw-normal mb-1">Male</p>
            </td>
            <td>Unknown</td>
            <td>
                <a  href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
            <td>
                <a href="/location" class="btn btn-link btn-sm btn-rounded">
                    Earth (Replacement Dimension)
                </a>
            </td>
        </tr>
    </tbody>
</table>




@code {

}
